<div>
  <h2>Food items</h2>
  <%= render partial: 'article', collection: @food_articles %>
</div>

<div>
  <h2>Non-food items</h2>
  <%= render partial: 'article', collection: @non_food_articles %>
</div>
